{
  "notification_url": "",
  "sckey": "null",
  "pin_code": "123456",
  "rdp_port": 3389,
  "log_retention_days": 7,
  "ip_whitelist": "192.168.1.0/24",
  "max_failed_attempts": 3,
  "blacklist_cooldown": 24,
  "verification_timeout": 60,
  "verification_cooldown": 60,
  "ip_blacklistfile": "data/ip_blacklist.txt",
  "ip_whitelistfile": "data/ip_whitelist.txt"
}
